/* src/app/about/links-page.component.css */

.links-page-container {
    padding: 20px;
    background-color: #1dda17;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .links-page-container h2 {
    color: #333;
  }
  
  .links-page-container p {
    color: #666;
  }
  