<!-- src/app/app.component.html -->

<div class="header">
  <h1> -3xØc3t-</h1>
  <h2>application Angular!</h2>  
  <p>Ceci est la nouvelle page d'accueil.</p>
</div>

<div class="content-block">
<!-- Les Liens -->
Les Liens :
<nav>
  <ul>
    <li><a routerLink="/">Accueil</a></li>
    <li><a routerLink="/links">Links Page</a></li>
    <li><a routerLink="/blocs4">Blocs 4</a></li>
    <li><a routerLink="/mon-composant">Mon Composant</a></li>
    <li><a routerLink="/contact-card">Contact Card</a></li>
    <li><a routerLink="/catalog">Catalog</a></li>
  </ul>
</nav>

</div>



<router-outlet></router-outlet>

